<!DOCTYPE html>
<html lang="en">
<head>
<title>Admin View</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Admin View</h1>
<section>
  <nav>
    <ul>
      <li><%= link_to 'Create Plans And Features',plans_path %></li>
      <li><%= link_to 'Call to Charge Account' , method: :charge_user %></li>
      <li><%= link_to 'Entry in Usage Table',new_admins_path %></li>
      <li><%= link_to 'Signout',new_user_session_path %></li>
    </ul>
  </nav>
</section>
<section>
<h1>Listing Users</h1>
<table>
  <thead>
    <tr>
      <th>UserName</th>
      <th>UserID</th>
      <th>Email</th>
      <th>BillDay</th>
      <th colspan="4"></th>
    </tr>
  </thead>
 <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.billday %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</section>
</body>
</html>
