<p id="notice"><%= notice %></p>
<h1>Listing All Subscriptions of <%= @user.username %> </h1>


<table>
  <tr>
    <th>User ID</th>
    <th>Plan ID</th>
    <th colspan="2"></th>
  </tr>
 
  <% @user.subscriptions.each do |subscription| %>
   
      <tr>
        <td><%= subscription.user_id %></td>
        <td><%= subscription.plan_id %></td>
      </tr>
    
  <% end %>
</table>
<br>
<li><%= link_to 'Back', buyers_path %></li>

