<p id="notice"><%= notice %></p>
<h1> Show Transaction of <%= @user.username %></h1>
<% @user.transactions.each do |transaction| %>
  <p>
	  <strong>Payment Date</strong>
	  <%= transaction.payment_date %>
  </p>

  <p>
	  <strong>Month:</strong>
	  <%= transaction.month %>
  </p>

  <p>
	  <strong>Year:</strong>
	  <%= transaction.year %>
  </p>
  <p>
	  <strong>Total Charges:</strong>
	  <%= transaction.total_charges  %>
  </p>
<% end %>

<%= link_to 'Back to Main Page', buyers_path %>

